<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Favourites</title>
</head>
<body class="fav-body">
    <%- include("header.ejs") %>

    <section class="fav-window">
        <div id="fav-title">
            <h1>Your Favourite Quote</h1>
        </div>
        <div id="fav-cont">
            <h2>Quote number 1:</h2>
            <p>Input quote 1</p>
        </div>
        <div id="fav-cont">
            <h2>Quote number 2:</h2>
            <p>Input quote 2</p>
        </div>
        <div id="fav-cont">
            <h2>Quote number 3:</h2>
            <p>Input quote 3</p>
        </div>
        <div id="fav-cont">
            <h2>Quote number 4:</h2>
            <p>Input quote 4</p>
        </div>
        <div id="fav-cont">
            <h2>Quote number 5:</h2>
            <p>Input quote 5</p>
        </div>
    </section>
</body>
</html>