<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="./js/main.js" defer></script>
    <title>Lord of the "Strings"</title>
</head>
<body>
    <section id="container">
        <header>
           <section id="Menuholder">
                <figure id="Logo">
                    <img src="/img/Logo.png" alt="">
                </figure>
                <nav id="Menu">
                    <section>
                        <ul>
                            <li><a href="/index" class="link active">Home</a></li>
                            <li><a href="/index" class="link">Quiz</a></li>
                            <li><a href="/favorites" class="link">Favorites</a></li>
                            <li><a href="/blacklist" class="link">Blacklist</a></li>
                        </ul>
                    </section>
                    <section id="Burger">
                        <section class="line"></section>
                        <section class="line"></section>
                        <section class="line"></section>
                    </section>
                </nav>
           </section>
        </header>
        <main>
            <section id="Homeflex">
                <section id="Main_content">
                    
                </section>
                <section id="Scoreboard">
                    <section id="Scores">
                        <section id="ScoreHeading">
                            <h3>High score</h3>
                            <p>-SUDDEN DEATH-</p>
                        </section>
                        <ul class="scoreList">
                            <li class="score">1 &nbsp;&nbsp;- SCORE</li>
                            <li class="score">2 &nbsp;&nbsp;- SCORE</li>
                            <li class="score">3 &nbsp;&nbsp;- SCORE</li>
                            <li class="score">4 &nbsp;&nbsp;- SCORE</li>
                            <li class="score">5 &nbsp;&nbsp;- SCORE</li>
                            <li class="score">6 &nbsp;&nbsp;- SCORE</li>
                            <li class="score">7 &nbsp;&nbsp;- SCORE</li>
                            <li class="score">8 &nbsp;&nbsp;- SCORE</li>
                            <li class="score">9 &nbsp;&nbsp;- SCORE</li>
                            <li class="score">10 - SCORE</li>
                        </ul>
                    </section>
                </section>
            </section>
        </main>
        <footer>
            
        </footer>
    </section>
</body>
</html>