<html lang="en" class="landing-page">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
    <title>Choose Quiz</title>
</head>
<body class="landing-body">
    <div class="quiz-choice">
        <h1>Start Your Journey!</h1>
        <h2>By choosing a quiz</h2>
    </div>
    <container class="landing-container">
        <div class="first-row">   
            <div class="lotr">
                <img src="/img/Logo.png" alt="lotr">
                <h2>Lord of the Rings</h2>
                <a href="/index"></a>
            </div>
            <div class="fifa">
                <img src="/img/fifa.jpg" alt="fifa">
                <h2>Fifa</h2>
                <a href="/soon"></a>
            </div>
            <div class="fortnite">
                <img src="/img/fortnite.jpg" alt="fortnite">
                <h2>Fortnite</h2>
                <a href="/soon"></a>
            </div>
        </div>
        <div class="scnd-row">
            <div class="lego">
                <img src="/img/lego-minifigures.jpg" alt="lego">
                <h2>Lego</h2>
                <a href="/soon"></a>
            </div>
            <div class="magic">
                <img src="/img/magic-gathering.png" alt="magic">
                <h2>Magic The Gathering</h2>
                <a href="/soon"></a>
            </div>
            <div class="nbb">
                <img src="/img/nbb.png" alt="nbb">
                <h2>Nationale Bank van België</h2>
                <a href="/soon"></a>
            </div>
        </div>
    </container>
</body>
</html>