<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="./js/main.js" defer></script>
    <script src="./js/quiz.js" defer></script>
    <title>Lord of the "Strings"</title>
</head>
<body>
    <section id="container">
        <header>
           <section id="Menuholder">
                <figure id="Logo">
                    <img src="/img/Logo.png" alt="">
                </figure>
                <nav id="Menu">
                    <section>
                        <ul>
                            <li><a href="/index" id="index" class="link">Home</a></li>
                            <li><a href="/quiz" id="quiz" class="link">Quiz</a></li>
                            <li><a href="/favorites" class="link">Favorites</a></li>
                            <li><a href="/blacklist" class="link">Blacklist</a></li>
                        </ul>
                    </section>
                    <section id="Burger" class="menu">
                        <section class="menu-top menu-global line"></section>
                        <section class="menu-middle menu-global line"></section>
                        <section class="menu-bottom menu-global line"></section>
                    </section>
                </nav>
           </section>
        </header>
        <main>
            <section id="Homeflex">
                <section id="Main_content">
                    <div id="quizHolder">
                        <h2 id="question">Question</h2>
                        <section class="currentScore">
                            <h3>Score</h3>
                            <span id="extra">0</span>
                        </section>
                        <section id="buttons">
                            <button id="button1" class="button">answer</button>
                            <button id="button2" class="button">answer</button>
                            <button id="button3" class="button">answer</button>
                        </section>
                    </div>
                    <div id="startHolder">
                        <button id="startQuiz">Start quiz</button>
                    </div>
                </section>
                <section id="Scoreboard">
                    <section id="Scores">
                        <section id="Shield"></section>
                        <section id="ScoreHeading">
                            <h3>High score</h3>
                            <p>-SUDDEN DEATH-</p>
                        </section>
                        <ul class="scoreList">
                            <li class="score" id="score">1 Name  SCORE</li>
                            <li class="score">2 Name  SCORE</li>
                            <li class="score">3 Name  SCORE</li>
                            <li class="score">4 Name  SCORE</li>
                            <li class="score">5 Name  SCORE</li>
                            <li class="score">6 Name  SCORE</li>
                            <li class="score">7 Name  SCORE</li>
                            <li class="score">8 Name  SCORE</li>
                            <li class="score">9 Name  SCORE</li>
                            <li class="score">10 Name  SCORE</li>
                        </ul>
                        </section>
                </section>
            </section>
        </main>
        <footer>
        </footer>
    </section>
</body>
</html>