<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="./js/main.js" defer></script>
    <script src="./js/quiz.js" defer></script>
    <title>Lord of the "Strings"</title>
</head>
<body>
    <section id="container">
        <header>
           <section id="Menuholder">
                <figure id="Logo">
                    <img src="/img/Logo.png" alt="">
                </figure>
                <nav id="Menu">
                    <section>
                        <ul>
                            <li><a href="/index" id="index" class="link">Home</a></li>
                            <li><a href="/quiz" id="quiz" class="link">Quiz</a></li>
                            <li><a href="/favorites" class="link">Favorites</a></li>
                            <li><a href="/blacklist" class="link">Blacklist</a></li>
                        </ul>
                    </section>
                    <section id="Burger" class="menu">
                        <section class="menu-top menu-global line"></section>
                        <section class="menu-middle menu-global line"></section>
                        <section class="menu-bottom menu-global line"></section>
                    </section>
                </nav>
           </section>
        </header>
        <main>
            <section id="Homeflex">
                <section id="Main_content">
                    <div id="quizHolder">
                        <div id="quizContent">
                            <p id="numberOfQuestion"></p>
                            <h3 id="question">Question</h3>
                            <section class="currentScore">
                                <h3>Score</h3>
                                <span id="extra">0</span>
                            </section>
                            <h3 class="title">Choose a character:</h3>
                            <section class="buttons">
                                <button id="button1" class="button character">answer</button>
                                <button id="button2" class="button character">answer</button>
                                <button id="button3" class="button character">answer</button>
                            </section>
                            <h3 class="title">Choose a movie:</h3>
                            <section class="buttons">
                                <button id="button4" class="button movie">answer</button>
                                <button id="button5" class="button movie">answer</button>
                                <button id="button6" class="button movie">answer</button>
                            </section>
                        </div>
                    </div>
                    <div id="startHolder">
                        <div id = "startContent">
                            <h1 class="title">Choose gamemode</h1>
                            <button id="startQuiz">Normal mode</button>
                            <button id="startQuizSudden">Sudden death</button>
                        </div>
                    </div>
                    <div id="finished">
                        <div>
                            <h2>Your Score:</h2>
                            <p id="endScore"></p>
                        </div>
                    </div>
                </section>
                <section id="Scoreboard">
                    <section id="Scores">
                        <section id="Shield"></section>
                        <section id="ScoreHeading">
                            <h3>High score</h3>
                            <p>-SUDDEN DEATH-</p>
                        </section>
                        <ul class="scoreList">
                            <li class="score" id="score1">1 Name  SCORE</li>
                            <li class="score" id="score2">2 Name  SCORE</li>
                            <li class="score" id="score3">3 Name  SCORE</li>
                            <li class="score" id="score4">4 Name  SCORE</li>
                            <li class="score" id="score5">5 Name  SCORE</li>
                        </ul>
                        </section>
                </section>
            </section>
        </main>
        <footer>
        </footer>
    </section>
</body>
</html>