<%- include("./partials/headerQuiz.ejs") %>
    <section id="container">
        <header>
           <section id="Menuholder">
                <figure id="Logo">
                    <img src="/img/Logo.png" alt="">
                </figure>
                <nav id="Menu">
                    <section>
                        <ul>
                            <li><a href="/index" id="index" class="link">Home</a></li>
                            <li><a href="/quiz" id="quiz" class="link">Quiz</a></li>
                            <li><a href="/favorites" id="favorites" class="link">Favorites</a></li>
                            <li><a href="/blacklist" id="blacklist" class="link">Blacklist</a></li>
                        </ul>
                    </section>
                    <section id="Burger" class="menu">
                        <section class="menu-top menu-global line"></section>
                        <section class="menu-middle menu-global line"></section>
                        <section class="menu-bottom menu-global line"></section>
                    </section>
                </nav>
           </section>
        </header>
        <main>
            <section id="Homeflex">
                <section id="Main_content">
                    <div id="quizHolder">
                        <div id="quizContent">
                            <p id="numberOfQuestion"></p>
                            <h3 id="question">Question</h3>
                            <section class="currentScore">
                                <h3>Score</h3>
                                
                                <section class="likeButtons">
                                    <form id="favoriteForm" action="/like" method="post">
                                        <input class="quoteId" name="id" type="hidden" value="">
                                        <input class="content" name="content" type="hidden" value="">
                                        <input class="characterForm" name="character" type="hidden" value="">
                                        <input id="likeButton" type="submit" value="">
                                    </form>
                                    <span id="extra">0</span>
                                    <form id="dislikeForm" action="/dislike" method="post">
                                        <input class="quoteId" name="id" type="hidden" value="">
                                        <input class="content" name="content" type="hidden" value="">
                                        <input class="characterForm" name="character" type="hidden" value="">
                                        <input id="dislikeButton" type="submit" value="">
                                    </form>
                                </section>
                                <p id="userMessage"></p>
                            </section>
                            <h3 class="title">Choose a character:</h3>
                            <section class="buttons">
                                <button id="button1" class="button character">answer</button>
                                <button id="button2" class="button character">answer</button>
                                <button id="button3" class="button character">answer</button>
                            </section>
                            <h3 class="title">Choose a movie:</h3>
                            <section class="buttons">
                                <button id="button4" class="button movie">answer</button>
                                <button id="button5" class="button movie">answer</button>
                                <button id="button6" class="button movie">answer</button>
                            </section>
                        </div>
                    </div>
                    <div id="startHolder">
                        <div id = "startContent">
                            <h1 class="title">Choose gamemode</h1>
                            <button id="startQuiz">Normal mode</button>
                            <button id="startQuizSudden">Sudden death</button>
                        </div>
                    </div>
                    <div id="finished">
                        <div>
                            <h2 class="font">Your Score:</h2>
                            <p id="endScore"></p>
                            <form id="formNormalInput" action="/quizNormal" method="post">
                                <input type="hidden" id="scoreInput" name="score" value="">
                                <input type="hidden" id="lastInput" name="lastScore" value="<%= lastNormalScore %>">
                                <label for="input">New Highscore</label>
                                <br>
                                <input type="text" id="name" name="name" placeholder="ENTER NAME" minlength="3" maxlength="3">
                                <br>
                                <input type="submit" name="submit" value="Send">
                            </form>
                        </div>
                    </div>
                    <div id="finishedSudden">
                        <div>
                            <h2>Your Score:</h2>
                            <p id="endScoreSudden"></p>
                            <form id="formSuddenInput" action="/quizSudden" method="post">
                                <input type="hidden" id="scoreInputSudden" name="score" value="">
                                <input type="hidden" id="lastInputSudden" name="lastScoreSudden" value="<%= lastSuddenScore %>">
                                <label for="input">New Highscore</label>
                                <br>
                                <input type="text" id="nameSudden" name="name" placeholder="ENTER NAME" minlength="3" maxlength="3">
                                <br>
                                <input type="submit" name="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </section>
                <section id="Scoreboard">
                    <section id="Scores">
                        <section id="Shield"></section>
                        <section id="ScoreHeading">
                            <h3>High score</h3>
                            <p id="scoreTitle"></p>
                        </section>
                        <ul id="list" class="scoreList">
                            
                        </ul>
                        </section>
                        <form id="formSudden" action="/quiz" method="post">
                            <input id="buttonSudden" type="submit" value="fetchSudden">
                        </form> 
                        <form id="formNormal" action="/quiz" method="post">
                            <input id="buttonNormal" type="submit" value="fetchNormal">
                        </form> 
                </section>
            </section>
        </main>
        <footer>
        </footer>
    </section>
<%- include("./partials/footer.ejs") %>